<h1>Payment of Shares</h1>

<p>
  A payment of <%= @share_buy_request.total %> amount has been made by user <%= @user.full_name %> for the purchase of <%= @share_buy_request.no_of_shares %> shares from property <%= Property.find(@share_buy_request.property_id).Code %>
</p>
