<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Interest to purchase shares, <%= @user.email %>!</h1>
    <p>You have expressed interest to buy shares from Invea Securities Ltd</p>
  </body>
</html>
