<h1>Transfer of Shares Successful</h1>

<p>
  <%= @share_buy_request.no_of_shares %> shares from property 
  <%= Property.find(@share_buy_request.property_id).Code %> have been successfully transfered to your account.  
</p>
