<p id="notice"><%= notice %></p>

<h1>Listing Shares</h1>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Value</th>
      <th>Period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.code %></td>
        <td><%= share.value %></td>
        <td><%= share.period %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
