
      <div class="fb-item fb-100-item-column" id="item39">
        <div class="fb-header">
          <h2 style="font-size: 15px; display: inline;">
            Payment Details:
          </h2>
        </div>
      </div>
      <div class="fb-item fb-100-item-column" id="item40" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="fb-static-text">
          <p style="font-size: 11px;">
            Ordinary Membership Subscription * Ksh 1,000.00 (One thousand per year)
            *Terms and conditions apply.
          </p>
        </div>
      </div>
      <div class="fb-item fb-100-item-column" id="item86" style="padding-bottom: 30px;">
        <div class="fb-grouplabel">
          <label id="item86_label_0" style="color: rgb(4, 41, 135); display: inline;">Payment options</label>
        </div>
        <div class="fb-dropdown">
          <select name="Paymentoptions" id="item86_select_1" data-hint="">
            <option id="item86_0_option" selected value="Select Option">
              Select Option
            </option>
            <option id="item86_1_option" value="M-PESA (PAYBILL)">
              M-PESA (PAYBILL)
            </option>
            <option id="item86_2_option" value="BANK TRANSFER (SWIFT CODE)">
              BANK TRANSFER (SWIFT CODE)
            </option>
            <option id="item86_3_option" value="SENDWAVE (USA and CANADA)">
              SENDWAVE (USA and CANADA)
            </option>
            <option id="item86_4_option" value="EQUITY DIRECT (EUROPE)">
              EQUITY DIRECT (EUROPE)
            </option>
          </select>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item89" style="opacity: 1;">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(11, 128, 0);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item91" style="padding: 0px; max-width: 70px; opacity: 1;">
        <a class="fb-image" target="_self"><img title="mpesa" id="item91_img_0" style="width: 100%;" alt="mpesa" src="common/images/mpesa-logo.jpg"/></a>
      </div>
      <div class="fb-item fb-75-item-column fb_cond_applied" id="item87" style="padding-top: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-center">
          <p style="color: rgb(11, 128, 0); font-family: arial; font-size: 18px; font-weight: bold;">
            MPESA PAYMENT (PAYBILL)
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item90" style="opacity: 1;">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(11, 128, 0);">
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item52" style="padding-top: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(168, 3, 3); font-size: 17px; font-weight: bold;">
            PAYBILL No. 734630
          </p>
        </div>
      </div>
      <div class="fb-item fb-33-item-column fb_cond_applied" id="item51" style="padding: 4px 0px 0px 40px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(0, 0, 0); font-size: 12px; font-weight: bold;">
            Pay bill instructions
            <BR>
            1. Go to Mpesa.
            <BR>
            2. Go to Lipa na Mpesa.
            <BR>
            3. Choose Paybill.
            <BR>
            4. Enter Business No.
            <BR>
            5. Write your name
            <BR>
            6. Enter Pin.
          </p>
        </div>
      </div>
      <div class="fb-item fb-50-item-column fb_cond_applied" id="item77" style="padding: 100px 0px 0px; opacity: 1;">
        <div class="fb-grouplabel">
          <label id="item77_label_0" style="color: rgb(0, 0, 0); display: none;"></label>
        </div>
        <div class="fb-input-box">
          <input name="Mpesa-code" id="item77_text_1" type="text" maxlength="50"
          placeholder="Mpesa transaction code" autocomplete="off" data-hint="" />
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item88">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(11, 128, 0);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item92">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(164, 77, 23);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item97" style="padding: 0px; max-width: 70px; opacity: 1;">
        <a class="fb-image" target="_self"><img title="equity" id="item97_img_0" style="width: 100%;" alt="equity" src="common/images/download.jpg"/></a>
      </div>
      <div class="fb-item fb-75-item-column fb_cond_applied" id="item96" style="padding-top: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-center">
          <p style="color: rgb(164, 77, 23); font-family: arial; font-size: 18px; font-weight: bold;">
            BANK PAYMENT - EQUITY BANK
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item94" style="opacity: 1;">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(164, 77, 23);">
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item98" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(168, 3, 3); font-size: 18px; font-weight: bold;">
            Bank Transfer:
          </p>
        </div>
      </div>
      <div class="fb-item fb-33-item-column fb_cond_applied" id="item101" style="padding: 0px 4px 0px 40px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(0, 0, 0); font-weight: bold;">
            Bank: Equity
            <BR>
            Acc: 0550268094297
            <BR>
            Branch: Westlands
            <BR>
            Swift: EQBLKENA
            <BR>
            Code: 068
            <BR>
          </p>
        </div>
      </div>
      <div class="fb-item fb-50-item-column fb_cond_applied" id="item116" style="padding: 70px 0px 0px; opacity: 1;">
        <div class="fb-grouplabel">
          <label id="item116_label_0" style="color: rgb(0, 0, 0); font-weight: normal; display: inline;">Enter Transaction Confirmation Code</label>
        </div>
        <div class="fb-input-box">
          <input name="BankTransactionCode" id="item116_text_1" type="text" maxlength="50"
          placeholder="Transaction Code" autocomplete="off" data-hint="" />
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item95">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(164, 77, 23);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item102">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(255, 170, 0);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item106" style="padding: 0px 50px 0px 0px; max-width: 40px; opacity: 1;">
        <a class="fb-image" target="_self"><img title="sendwave" id="item106_img_0" style="width: 100%;" alt="sendwave" src="common/images/sendwave_1.png"/></a>
      </div>
      <div class="fb-item fb-75-item-column fb_cond_applied" id="item105" style="padding-top: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-center">
          <p style="color: rgb(255, 170, 0); font-family: arial; font-size: 18px; font-weight: bold;">
            SENDWAVE PAYMENT
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item103">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(255, 170, 0);">
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item108" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(168, 3, 3); font-size: 18px; font-weight: bold;">
            Sendwave Details:
          </p>
        </div>
      </div>
      <div class="fb-item fb-33-item-column fb_cond_applied" id="item109" style="padding: 0px 4px 0px 40px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(0, 0, 0); font-weight: bold;">
            Country: Kenya
            <BR>
            Phone No.: 0727734630
          </p>
        </div>
      </div>
      <div class="fb-item fb-50-item-column fb_cond_applied" id="item118" style="padding: 10px 0px 0px; opacity: 1;">
        <div class="fb-grouplabel">
          <label id="item118_label_0" style="color: rgb(0, 0, 0); font-weight: normal; display: inline;">Enter Transaction Confirmation Code</label>
        </div>
        <div class="fb-input-box">
          <input name="SendwaveTransactionCode" id="item118_text_1" type="text"
          maxlength="50" placeholder="Transaction Code" autocomplete="off" data-hint=""
          />
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item110" style="padding: 0px 4px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(0, 0, 0); font-style: italic; font-weight: normal;">
            - Sendwave is a free international money transfer service.
          </p>
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item111" style="padding: 0px 4px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-center">
          <p style="color: rgb(148, 96, 0); font-style: italic; font-weight: normal;">
            - Download Sendwave application and follow the instructions - Click The
            links below to Download
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item112" style="padding-right: 52px; padding-left: 52px; max-width: 150px; opacity: 1;">
        <a class="fb-image" href="https://play.google.com/store/apps/details?id=com.mychime.waveremit.app&hl=en"
        target="_blank"><img title="Download App" id="item112_img_0" style="width: 100%;" alt="Download App" src="common/images/swAndroidbt.png"/></a>
      </div>
      <div class="fb-item fb_cond_applied" id="item113" style="padding-right: 52px; padding-left: 52px; max-width: 150px;">
        <a class="fb-image" href="https://itunes.apple.com/pk/app/sendwave-send-money-to-africa/id846717081?mt=8"
        target="_blank"><img title="Download App" id="item113_img_0" style="width: 100%;" alt="Download App" src="common/images/swiphoneidbt.png"/></a>
      </div>
      <div class="fb-item fb_cond_applied" id="item104" style="opacity: 1;">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(59, 23, 9);">
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item122" style="padding: 0px 10px 0px 0px; max-width: 170px; opacity: 1;">
        <a class="fb-image" target="_self"><img title="sendwave" id="item122_img_0" style="width: 100%;" alt="sendwave" src="common/images/eqdri.png"/></a>
      </div>
      <div class="fb-item fb-50-item-column fb_cond_applied" id="item123" style="padding-top: 0px; padding-bottom: 0px; padding-left: 40px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-left">
          <p style="color: rgb(59, 23, 9); font-family: arial; font-size: 18px; font-weight: bold;">
            EQUITY DIRECT
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item119">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(59, 23, 9);">
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item124" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(168, 3, 3); font-size: 18px; font-weight: bold;">
            Bank Details:
          </p>
        </div>
      </div>
      <div class="fb-item fb-33-item-column fb_cond_applied" id="item125" style="padding: 0px 4px 0px 40px; opacity: 1;">
        <div class="fb-static-text">
          <p style="color: rgb(0, 0, 0); font-weight: bold;">
            Bank: Equity
            <BR>
            Acc: 0550268094297
            <BR>
            Branch: Westlands
            <BR>
            Swift: EQBLKENA
            <BR>
            Code: 068
            <BR>
          </p>
        </div>
      </div>
      <div class="fb-item fb-50-item-column fb_cond_applied" id="item126" style="padding: 50px 0px 0px; opacity: 1;">
        <div class="fb-grouplabel">
          <label id="item126_label_0" style="color: rgb(0, 0, 0); font-weight: normal; display: inline;">Enter Transaction Confirmation Code</label>
        </div>
        <div class="fb-input-box">
          <input name="EquityDirectconfirmationcode" id="item126_text_1" type="text"
          maxlength="50" placeholder="Transaction Code" autocomplete="off" data-hint=""
          />
        </div>
      </div>
      <div class="fb-item fb-100-item-column fb_cond_applied" id="item127" style="padding: 0px 4px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-center">
          <p style="color: rgb(59, 23, 9); font-style: italic; font-weight: normal;">
            - Download Sendwave application and follow the instructions - Click The
            links below to Download
          </p>
        </div>
      </div>
      <div class="fb-item fb_cond_applied" id="item128" style="padding-right: 52px; padding-left: 52px; max-width: 150px; opacity: 1;">
        <a class="fb-image" href="https://play.google.com/store/apps/details?id=com.positiveslice.equitydirect&hl=en"
        target="_blank"><img title="Download App" id="item128_img_0" style="width: 100%;" alt="Download App" src="common/images/swAndroidbt.png"/></a>
      </div>
      <div class="fb-item fb_cond_applied" id="item129" style="padding-right: 52px; padding-left: 52px; max-width: 150px;">
        <a class="fb-image" href="https://itunes.apple.com/us/app/equity-direct/id778646041?mt=8"
        target="_blank"><img title="Download App" id="item129_img_0" style="width: 100%;" alt="Download App" src="common/images/swiphoneidbt.png"/></a>
      </div>
      <div class="fb-item fb_cond_applied" id="item121">
        <div class="fb-sectionbreak">
          <hr style="border-top-color: rgb(59, 23, 9);">
        </div>
      </div>
      <div class="fb-item fb-20-item-column" id="item53" style="padding: 10px 10px 0px 0px; opacity: 1;">
        <div class="fb-static-text fb-item-alignment-right">
          <p style="color: rgb(0, 0, 0); font-size: 15px; font-weight: bold;">
            I
          </p>
        </div>
      </div>
      <div class="fb-item fb-75-item-column" id="item55" style="padding: 0px;">
        <div class="fb-grouplabel">
          <label id="item55_label_0" style="display: none;"></label>
        </div>
        <div class="fb-input-box">
          <input name="I-Agree-Name" id="item55_text_1" required type="text" maxlength="254"
          placeholder="Enter your name" autocomplete="off" data-hint="" />
        </div>
      </div>
      <div class="fb-item fb-100-item-column" id="item56" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="fb-static-text">
          <p>
            apply to be a member of 10K Club and agree to abide by the terms and conditions
            here by attached.
          </p>
        </div>
      </div>
      <div class="fb-item" id="item62">
        <div class="fb-sectionbreak">
          <hr>
        </div>
      </div>
