<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news_and_event.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @news_and_event.post %>
</p>

<%= link_to 'Back', news_and_events_path, class: 'btn btn-info' %>
