@media (min-width: 992px) {
    span.icon {display:none}
    span.menu {display:inline-block}
}

@media (max-width: 991px) {
    span.icon {display:inline-block}
    span.menu {display:none}

    .mobile-only {
      span.icon {display:inline-block}
      span.menu {display:none}
    }
}

.icon {
  float: left;
  padding: 10px;
}

body {
  // background-color: #3A5311;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.modals {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.buying {
  text-align: center;
}

.avatar {
  border-radius: 150px;
  // border-style: double;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}
nav.main {
  color: green;
}
.top_nav {
  background-color: #3A5311;

}
/* unvisited link */
a:link {
    color: #ffffff;
}

/* visited link */
a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #6A0304;
    background-color: #ffffff;
}

.trending {
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

.offer {
  background-image: image-url("td2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.trending h1 {
  font-family: fantasy;
  font-weight: 600;
  font-style: italic;
  font-stretch: ultra-expanded;
}

/* selected link */
a:active {
    color: blue;
}

.nav_bar {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #465132 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#465132 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#465132',GradientType=0 );
  text-decoration-color: none;
  text-align: center;
  color: #ffffff;

}
.login:before {
  border: 2px solid #3A5311;
  border-radius: 4px;
  width: 35%;

}
input[type=text] {
    border: 2px solid #3A5311;
    border-radius: 4px;
    width: 22%;
    padding-left: 2px;
}

input[type=password] {
    border: 2px solid #3A5311;
    border-radius: 4px;
    width: 22%;
    padding-left: 2px;
}

select {
    padding: 16px 20px;
    border: 2px solid #3A5311;
    border-radius: 4px;
}
input[type=number]{
    border: 2px solid #3A5311;
    border-radius: 4px;
    width: 35%;
}
.appcon {
  background-color: #f2f2f2;
  border: 2px solid #3A5311;
  border-radius: 4px;
  width: 100%;
  min-height: 300px;
  padding: 20px 20px 20px 20px;
}

.jstspc{
min-height: 60px;
}

.copyright_bar {
  background-color: #3A5311;
  height: 30px;
  position: static;
  bottom: 0;
  width: 100%;


}
.panel-footer {
  height: 100px;
  position: static;
  bottom: 30px;
  width: 100%;
}
.ftext{
  font-style: normal;
  text-decoration-color: #ffffff;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

div .menuicon {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#menu-link {
  font-size: 45px;
  font-weight: 400;
}

.btn-signup {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  padding-left: 25px;
  padding-right: 29px;
  font-size: 13px;
  border: none;
}
.value {
  text-align: center;
  color: #3A5311;
  font-size: 50px;

}

.expire {
  color: red;
  text-align: center;
}
